<% matchData.forEach(game => { %>
    <div class="game-container" style="cursor: pointer;" onclick="goToMatch('<%= game.id %>')">
    <div class="left-section">
      <span id="away-score-<%= game.id %>" class="score"
        ><%= game.awayScore %></span
      >
      <img
        class="team-logo"
        src="<%= game.awayLogo %>"
        alt="<%= game.teamAway %> Logo"
      />
    </div>
    <% if( useMid ) {%>
    <div class="mid-section">
      <span id="period-<%= game.id %>" class="period"
        ><%= game.status.period %></span
      >
      <span id="clock-<%= game.id %>" class="clock"
        ><%= game.status.displayClock %></span
      >
      <p class="match"><%= game.matchName %></p>
    </div>
    <%} %>
    <div class="right-section">
      <img
        class="team-logo"
        src="<%= game.homeLogo %>"
        alt="<%= game.teamHome %> Logo"
      />
      <span id="home-score-<%= game.id %>" class="score"
        ><%= game.homeScore %></span
      >
    </div>
  </div>
  <% }); %> 