<div class="container">
    <h1><%= matchName %></h1>
    <div>
        <img class="team-logo" src="<%= homeLogo %>" alt="<%= teamHome %> Logo">
        <span class="score"><%= homeScore %></span>
    </div>
    <div>
        <img class="team-logo" src="<%= awayLogo %>" alt="<%= teamAway %> Logo">
        <span class="score"><%= awayScore %></span>
    </div>
    <p>Week <%= week.number %></p>
</div>