<% matchData.forEach(game => { %>
    <div class="game-container summary" style="cursor: pointer;" onclick="goToMatch('<%= game.id %>')">
    <div class="left-section">
      <img
        class="team-logo"
        src="<%= game.awayLogo %>"
        alt="<%= game.teamAway %> Logo"
      />
      <div id="away-score-<%= game.id %>" class="score"
        ><%= game.awayScore %></div>
    </div>
    <div class="right-section">
        <img
        class="team-logo"
        src="<%= game.homeLogo %>"
        alt="<%= game.teamHome %> Logo"
      /> 
      <div id="home-score-<%= game.id %>" class="score"
        ><%= game.homeScore %></div>
     </div>

  </div>
  <% }); %> 