<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/CSS/nav.css" rel="stylesheet">
    <link href="/CSS/index.css" rel="stylesheet" />
    <link href="/CSS/game.css" rel="stylesheet" />
</head>
<body>

    <header>
        <%- include('../Components/nav', { week: matchData[0].week, currentWeek:week}) %>
    </header>

    <main>
        <% const theGame = matchData.filter(match => match.id === gameId); %>
        <%- include('../Components/games', { matchData: theGame, useMid: true }) %>        
        <div id="plays">
            <% for(let i = 0; i < plays.length; i++) { %>
              <p><%= plays[i] %></p>
            <% } %>
          </div>
        </main>
          <div id="slide">
            <% const filteredMatchData = matchData.filter(match => match.id != gameId); %>
            <%- include('../Components/summary', { matchData: filteredMatchData}) %>      
          </div>
          <%- include('../Components/footer') %>
    <script src="/JS/games.js"></script>
    <script>
    const playsContainer = document.getElementById('plays');
    playsContainer.scrollTop = playsContainer.scrollHeight;
    const pathname = window.location.pathname;
    const pathSegments = pathname.split('/');
    const gameId = pathSegments[pathSegments.length - 1];

    const playsJSON = '<%- JSON.stringify(plays) %>'; 
    let prevPlays = undefined;
    try {
        prevPlays = JSON.parse(playsJSON);
    } catch (error) {
        console.error('Error parsing JSON:', error);
    }
    const playsSource = new EventSource(`/sse/plays/${gameId}`);
    const scoresSource = new EventSource(`/sse/scores`);

    playsSource.onmessage = (event) => {
        const data = JSON.parse(event.data);    

        let newPlays = [];
        for(let i = prevPlays.length; i < data.length;i++){
            newPlays.push(data[i]);
        }
        newPlays.forEach(playText => {
            const newPlayElement = document.createElement('p');
            newPlayElement.textContent = playText;
            playsContainer.appendChild(newPlayElement);
            playsContainer.scrollTop = playsContainer.scrollHeight;
        });
    };
    </script>
</body>
</html>